In [38]:
import pandas as pd
from pydantic import BaseModel
from typing import Text,List,Optional,Union
import datetime

class recipe(BaseModel):
    id:str
    name:str
    description:str
    user_id:int = 1
    created_at:datetime.datetime | None = None
    updated_at:datetime.datetime | None = None

df_ingredients = pd.read_csv('../db/ingredients.csv')
df_recipes = pd.read_csv('../db/recipes.csv')
df_itr = pd.read_csv('../db/ingredients_recipes.csv')
df_test = pd.read_csv('../db/test.csv')

dictionary = {
    'id':0,
    'name':'Ehytan',
    'description':'Probando diccionario',
    'user_id':1,
    'created_at':'2023-01-07 05:52:11.514755',
    'updated_at':'2023-01-07 05:52:11.514755'
}
df_test

,id,name,description,user_id,created_at,updated_at
0,0,Ehytan,Primer post,1,"01/09/2023, 14:31:09","01/09/2023, 14:31:09"
1,1,Ehytan,Segundo post,1,"01/09/2023, 14:31:44","01/09/2023, 14:31:44"

In [39]:
df_test.at[0,'name'] = 'Cariman'
df_test

,id,name,description,user_id,created_at,updated_at
0,0,Cariman,Primer post,1,"01/09/2023, 14:31:09","01/09/2023, 14:31:09"
1,1,Ehytan,Segundo post,1,"01/09/2023, 14:31:44","01/09/2023, 14:31:44"